.mr-neg15{
  margin-right: -15px;
}
.ml-neg15{
  margin-left: -15px;
}

.btn, .form-control {
  border-radius: 0;
}

.btn {
  text-transform: uppercase;
}

.img-responsive {
  background-image: url("/konvergo_login_page/static/src/img/konvergo_building.jpg");
  background-size: cover;
  background-position:center
}
